@font-face {
    font-family: Exo;
    src: url(fonts/Exo-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: Opensans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}
*{
  box-sizing:border-box;
}
html{
    font-size: 62.5%;
    width: 100%;

}
:root{
    --clr-fonts-light: #515151;
    --clr-fonts-dark: #ffffff;
    --clr-back-light: #e5e5e5;
    --clr-back-dark: #151515;
    --clr-card-light: #ffffff;
    --clr-card-dark: #303030;
    --clr-modal1-dark:rgba(0, 0, 0, 0.6);
    --clr-modal1-light:rgba(255, 255, 255, 0.6);
    --clr-modal2-dark:rgba(48, 48, 48, 0.0001);
    --clr-modal2-light:rgba(255, 255, 255, 0.0001);

    --background: var(--clr-back-dark);
    --font-color: var(--clr-fonts-dark);
    --card-color: var(--clr-card-dark);
    --modal-color: var(--clr-modal1-dark);
    --modal-color2: var(--clr-modal2-dark);
}
.darkmode {
    --clr-fonts-light:#515151;
    --clr-fonts-dark: #ffffff;
    --clr-back-light: #e5e5e5;
    --clr-back-dark: #151515;
    --clr-card-light: #ffffff;
    --clr-card-dark: #303030;
    --clr-modal1-dark:rgba(0, 0, 0, 0.6);
    --clr-modal1-light:rgba(255, 255, 255, 0.6);
    --clr-modal2-dark:rgba(48, 48, 48, 0.0001);
    --clr-modal2-light:rgba(255, 255, 255, 0.0001);

    --background: var(--clr-back-light);
    --font-color: var(--clr-fonts-light);
    --card-color: var(--clr-card-light);
    --modal-color: var(--clr-modal1-light);
    --modal-color2: var(--clr-modal2-light);
}

body{
    margin: 0;
}
.parent {
    display: grid;
    grid-template-columns: 263px 1177px;
    grid-template-rows: 94px 141px 990px;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    background-color: var(--background);
    transition: background 0.2s ease-in-out;
    }

    
    .logo-nav-container{
        grid-area:1 / 1 / 2 / 3;
        background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 94px;
        width: 1440px;
    }
    .container-titule { grid-area: 2 / 1 / 3 / 3; }
    .div34 { grid-area: 3 / 1 / 4 / 2; }

    .div45 { grid-area: 3 / 2 / 4 / 3; 
        display: grid;
        grid-template-columns: repeat(3, 363px);
        grid-template-rows: repeat(3, 314px);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        
    }
    .div1 { grid-area: 1 / 1 / 2 / 2;
        background-color: var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div45 img{
        grid-area: image;
        background-size: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

    }
    .card-title{
        color: var(--font-color);
        font-family: Exo;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0px;
        text-align: left;
        
    }

    .div2 { grid-area: 1 / 2 / 2 / 3; 
        background-color: var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div3 { grid-area: 1 / 3 / 2 / 4; 
        background-color: var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div4 { grid-area: 2 / 1 / 3 / 2; 
        background-color:var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div5 { grid-area: 2 / 2 / 3 / 3;
        background-color:var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div6 { grid-area: 2 / 3 / 3 / 4; 
        background-color: var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div7 { grid-area: 3 / 1 / 4 / 2;
        background-color:var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div8 { grid-area: 3 / 2 / 4 / 3;
        background-color: var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .div9 { grid-area: 3 / 3 / 4 / 4; 
        background-color:var(--card-color);
        height: 314px;
        width: 363px;
        border-radius: 12px;
        grid-template-areas: "image" "Title" "Description";
    }
    .navimg{
        position: absolute;
        height: 34.054054260253906px;
        width: 267.0994567871094px;
        left: 60px;
        top: 28.97px;
        border-radius: 0px;
    
    }
    
    .searchbox{
        position: absolute;
        left: 750px;
        height: 47px;
        width: 362px;
        top: 23px;
        border-radius: 4px;
        padding-left: 16px;
        border-style: none;
        font-family: Exo;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    
    }
    
    .LogoutAvatar{
        position: absolute;
        display:flex;
        justify-content: space-between;
        align-items: center;
        text-decoration:none;
        top: 23px;
        right: 23px;
    
    }
    .LogoutAvatar img{
        height: 48px;
        width: 48px;
        border-radius: 0px;
    }
    
    .LogoutAvatar span{
        margin-right: 16px;
        font-family: Exo;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: right;
        color:var(--font-color);
        
    
    }
    .LogoutAvatar a{
        text-decoration:none;
    }
    
    .LogoutAvatar span:hover{
        color:var(--background); 
    }


    .container-titule { 
        grid-area: 2 / 1 / 3 / 6;
        margin-left:40px;
        margin-bottom: 2px;
    }

    .container-a{
        color: var(--font-color);
        font-family: Exo;
        font-size: 48px;
        font-weight: 800;
        text-align: left;
        margin-top: 19px;   
    }
    .container-subtitle{
        color:var(--font-color);
        font-family: Exo;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

    }
    .checkboxdlmode {
        opacity: 0;
        position: absolute;
    }
    /* .checkbox:checked + .label{
        background: green;
    } */
    .darkandlightmode label{
        width: 44px;
        height: 22px;
        background-color: #5F81FB;
        display: flex;
        border-radius: 23px;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        right: 40px;
        top: 121px;
        
        
    }
    input[type=checkbox]:checked + label{
        background-color: #E1E1E4;
    }
    input[type=checkbox]:checked + label .ball{
        transform: translateX(-22px);
    }
    
    .darkm{
        width: 10.25px;
        height: 6px;
        margin-right: 3px;
    }
    .lightm{
        width: 14.05px;
        height: 6px;
        margin-left: 2px;
    }
    .ball{
        width: 18px;
        height: 18px;
        background-color: #FFFFFF;
        border-radius: 50%;
        position: absolute;
        right: 2.5px;
        transition: transform 0.2s linear;
    }
    .card-body{
        display: flex;
        align-items: center;
        margin: 16px;
        justify-content: space-between;

    }
    .card-body a{
        position: relative;
        display: flex;
        align-items: center;
    }
    .Number{
        position: absolute;
        font-family: Exo;
        font-size: 18px;
        font-weight: 700;
        color:#36B972;
    }
    
    .Description{
        
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }

    .release{
        font-family: Exo;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        color: #939393;
        margin-left: 16px;
    }

    .logos{
        position: relative;
        left:57px;   
    }
    .logos img{
        margin-right: 16px;
    }

    .Description2{
        display: flex;
        align-items: center;
    }

    .info{
        color:var(--font-color);
        font-family: Exo;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        position: relative;
        align-items: center;
        left:20px;
    }
    .info2{
        color:var(--font-color);
        font-family: Exo;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        position: relative;
        align-items: center;
        left:57px;
    }

    .filter-options a{
        font-family: Exo;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0px;
        text-align: left;
        color: var(--font-color);
        margin-left: 40px;
        margin-bottom: 14.21px;
    }
    .filter-options button{
        font-family: Exo;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--font-color);
        margin-left: 40px;
        margin-bottom: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .filter-options a:hover{
        color: #0EA152;
      
    }
    .filter-options button:hover{
        color: #0EA152;
    }

    
    

    .filter-options2{
        font-family: Exo;
        font-size: 18px;
        font-weight: 400;
        color:var(--font-color);
        position: relative;
        align-items: center;
        display: flex;
        margin-left: 42.79px;
    }

    .textito{
        margin-left:10.79px;
    }

    .filter-options2 a{
        margin-top: 22.79px;
    }

    .filter-options3{
        margin-top: 55px;
        font-family: Exo;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
        margin-left: 40px;
        color: var(--font-color);
    }
    
    .show{
        display:block;
    }

    .modal{
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        height: 100%;
        width: 100%;
        background-color: var(--modal-color);
    }
    .modal-content {
        display: grid;
        grid-template-columns: 260px 392px 424px;
        grid-template-rows: 290px 137px 71px 295px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: absolute;
        height: 793px;
        width: 1076px;
        left: 182px;
        top: 111px;
        border-radius: 24px;
        background: linear-gradient(180deg, var(--modal-color2) 0%, var(--card-color) 84.4%);
        background-image: url(/img/9.jpg);
        background-repeat: no-repeat;
        background-color: var(--card-color);
        /* border-image: fill; */
        
        }